.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.employee-container {
  width: 45%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.team-container {
  width: 45%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card {
  background: linear-gradient(to bottom right, #ff6b6b, #ffe66d);
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.card p {
  margin: 0;
}

.button {
  background: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: linear-gradient(to bottom right, #9b23ea, #fffcdc);
}

.disabled {
  color: #999;
  cursor: not-allowed;
}

.average-age {
  margin-top: 10px;
}
